<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954594212246-usain6gcb5l3fbqqaotjqpp7b9uu5h86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954594212246-usain6gcb5l3fbqqaotjqpp7b9uu5h86</string>
	<key>API_KEY</key>
	<string>AIzaSyAwa59-JYQpFVu5CkbfmXs_OwggyT82hpo</string>
	<key>GCM_SENDER_ID</key>
	<string>954594212246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ali.kolukirik.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclone2-351ce</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone2-351ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954594212246:ios:2f42e4741bb52f7a54c5b7</string>
</dict>
</plist>